.rateUSD {
    background-color: blueviolet;
    width: 50%;
    height: 180px;
    margin-top: 1px;
    border-top-left-radius: 10px;
}

.rateEUR {
    background-color: yellow;
    width: 50%;
    height: 180px;
    margin-top: -180px;
    margin-left: 50%;
    border-top-right-radius: 10px;
}

.usdBox {
    position: relative;
    width: 280px;
    height: 140px;
    background-color: red;
    left: 50px;
    top: 20px;
}
